body {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  background-color: #d5e6ee;
}
.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0;
}
.clearfix {
  display: table;
  content: '';
  clear: both;
}
h2 {
  margin: 0px 0px;
  color: #fff;
  font-family: 'Lato Light', Arial, sans-serif;
  font-size: 60px;
  line-height: 58px;
  text-transform: uppercase;
}
@font-face {
  font-family: 'Lato Black';
  src: url('fonts/Lato-Black.eot');
  src: url('fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Black.woff') format('woff'), url('fonts/Lato-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Lato Bold';
  src: url('fonts/Lato-Bold.eot');
  src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Bold.woff') format('woff'), url('fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Lato Light';
  src: url('fonts/Lato-Light.eot');
  src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Light.woff') format('woff'), url('fonts/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Lato Regular';
  src: url('fonts/Lato-Regular.eot');
  src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Regular.woff') format('woff'), url('fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
.font-mixin {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.font-mixin-black {
  font-family: 'Lato Black', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
}
.carousel-slide-mixin {
  width: 100%;
  height: 1000px;
  background-size: cover;
}
.font-mixin-p {
  font-family: 'Lato Regular', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  text-align: center;
}
header {
  position: fixed;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #2c3e50 100%);
  z-index: 1;
  opacity: 0.70;
  height: 100px;
}
header .logo {
  float: left;
  margin-top: 35px;
}
header .main-nav__list {
  float: right;
  font-size: 0px;
  margin-right: -29px;
}
header .main-nav__list li {
  display: inline-block;
  font-family: 'Lato Regular', Arial, sans-serif;
  font-size: 18px;
  line-height: 29px;
}
header .main-nav__list li a {
  display: inline-block;
  color: white;
  padding: 35px 29px 16px;
  border-radius: 0 0 5px 5px;
}
header .main-nav__list li a:hover {
  background-color: aqua;
}
.slogan {
  position: absolute;
  top: 53.8%;
  left: 52.2%;
  width: 840px;
  height: 170px;
  border-radius: 4px;
  background-color: #ffffff;
  opacity: 0.85;
  z-index: 2;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.slogan--left {
  font-family: 'Lato Light', Arial, sans-serif;
  font-size: 60px;
  line-height: 58px;
  width: 405px;
  height: 141px;
  color: #74c7d5;
  text-align: right;
  float: left;
  margin-top: 29px;
}
.slogan--right {
  width: 420px;
  height: 170px;
  color: #74c7d5;
  font-family: 'Lato Black', Arial, sans-serif;
  font-size: 140px;
  letter-spacing: -4px;
  text-transform: uppercase;
  float: right;
  line-height: 185px;
}
.carousel .carousel-indicators {
  margin-bottom: 65px;
  padding-left: 25px;
}
.carousel .carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.85);
  border: none;
  margin-right: 35px;
}
.carousel .carousel-indicators .active {
  background-color: rgba(116, 199, 213, 0.85);
}
.carousel .carousel-inner .slide1 {
  background: url("../img/slide1.jpg") no-repeat;
  width: 100%;
  height: 1000px;
  background-size: cover;
}
.carousel .carousel-inner .slide2 {
  background: url("../img/slide2.jpg") no-repeat;
  width: 100%;
  height: 1000px;
  background-size: cover;
}
.carousel .carousel-inner .slide3 {
  background: url("../img/slide3.jpg") no-repeat;
  width: 100%;
  height: 1000px;
  background-size: cover;
}
.carousel .left:hover {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 100, 0.6) 100%);
}
.carousel .right:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 100, 0.6) 100%);
}
.carousel .carousel-control img {
  margin-top: 475px;
}
.services {
  width: auto;
  height: 1000px;
  background: url('../img/layer-services.png') no-repeat #b24a50;
  background-size: 100%;
}
.services__textblock {
  margin-bottom: 114px;
  padding-top: 187px;
}
.services__textblock h2 {
  padding-left: 343px;
}
.services__textblock--medium-size {
  font-family: 'Lato Regular', Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
  color: #fff;
  margin: 22px 0px 2px 33px;
  letter-spacing: -0.1px;
}
.services__textblock--medium-size span {
  color: #ec9da2;
}
.services__textblock--standart-size {
  width: 1052px;
  margin-top: 0px;
  margin-left: 21px;
  letter-spacing: 0.1px;
  font-family: 'Lato Regular', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  text-align: center;
}
.services__flexblock {
  display: flex;
  width: 1100px;
  height: 400px;
  opacity: 0.9;
}
.services__flexblock .col {
  width: 260px;
  float: left;
  margin-right: 20px;
  border-radius: 4px 5px 5px 4px;
  background-color: #c8535a;
}
.services__flexblock .col:last-child {
  margin-right: 0px;
}
.services__flexblock .col img {
  margin-top: 44px;
  margin-left: 59px;
  opacity: 1;
}
.services__flexblock .col h3 {
  font-family: 'Lato light', Arial, sans-serif;
  font-size: 30px;
  color: #fff;
  opacity: 1;
  text-transform: uppercase;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 35px;
}
.services__flexblock .col p {
  font-family: 'Lato Regular', Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  opacity: 1;
  width: 209px;
  margin-left: 25px;
  text-align: center;
}
.about {
  width: auto;
  height: 1000px;
  background: url('../img/layer-about.png') no-repeat #665464;
  background-size: 100%;
}
.about__textblock {
  width: 1053px;
  padding-top: 200px;
}
.about__textblock h2 {
  padding-left: 134px;
  letter-spacing: -1.6px;
}
.about__textblock p {
  width: 1062px;
  margin-top: 16px;
  margin-left: 21px;
  letter-spacing: 0.1px;
  font-family: 'Lato Regular', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  text-align: center;
}
