@font-family-black: 'Lato Black', Arial, sans-serif;
@font-family-regular: 'Lato Regular', Arial, sans-serif;
@font-family-light: 'Lato Light', Arial, sans-serif;
//----------------------------------------------
.font-mixin-black {
    font-family: @font-family-black;
    line-height: 21px;
}
.font-mixin-regular {
    font-family: @font-family-regular;
}


.carousel-slide-mixin {
    width: 100%;
    height: 1000px;
    background-size: cover;
}

.font-mixin-p {
    font-family: @font-family-regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    text-align: center;
}
