.about {
    width: 100%;
    height: 986px;
    background: url('../img/layer-about.png') no-repeat #665464;
    background-size: cover;
    padding-top: 140px;
    &__textblock {
        padding-top: 35px;
        margin-bottom: 69px;
        h2 {
            padding-left: 134px;
            letter-spacing: -1.6px;
        }
        p {
            margin-top: 16px;
            margin-left: 21px;
            letter-spacing: 0.1px;
            .font-mixin-p
        }
        &--btn {
            position: relative;
            display: block;
            margin: 52px auto;
            width: 276px;
            height: 50px;
            border: none;
            border-radius: 5px;
            padding: 0;
            left: -4px;
            background-color: #a1ca6c;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            font-size: 25px;
            animation: about-btn 3s infinite alternate;
            cursor: pointer;
            .font-mixin-black;
            &::after {
                content: '';
                height: 34px;
                border-right: 17px solid transparent;
                border-left: 17px solid transparent;
                border-top: 17px solid #a1ca6c;
                position: absolute;
                bottom: -33px;
                left: 125px;
                animation: about-btn-b 3s infinite alternate;
            }
        }
    }
    &__flexblock {
        width: 1100px;
        margin: 0 auto;
        .card {
            float: left;
            position: relative;
            display: inline-block;
            width: 260px;
            height: 380px;
            border-radius: 4px 5px 5px 4px;
            background-color: rgba(77, 63, 75, 0.5);
            padding-top: 42px;
            margin-right: 20px;
            margin-bottom: 20px;
            &:last-child {
                margin-right: 0px;
            }
            .card-ava--out {
                width: 165px;
                height: 165px;
                margin-left: 46px;
                background-position: -20px -20px;
                background-image: url(../img/sprite.png);
            }
            &:hover .card-ava--out {
                animation: ava-out 0.5s linear;
                animation-fill-mode: forwards;
            }
            .card-ava--in {
                position: absolute;
                width: 165px;
                height: 165px;
                margin-left: 46px;
                background-position: -226px -20px;
                background-image: url(../img/sprite.png);
                opacity: 0;
                top: 42px;
            }
            &:hover .card-ava--in {
                animation: ava-in 0.5s linear;
                animation-fill-mode: forwards;
            }
            h3 {
                color: #c7b6c5;
                font-size: 25px;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 11px;
                .font-mixin-black
            }
            p {
                text-align: center;
                color: #a1ca6c;
                font-size: 14px;
                font-weight: 400;
                margin-top: 0;
                margin-bottom: 33px;
                .font-mixin-regular;
            }
            &:hover .social-btn {
                border-bottom: 1px solid #e05c64;
            }
            &__social {
                width: 200px;
                margin-left: 41px;
                .social-btn {
                    margin-right: 16px;
                    border-radius: 50%;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    background-image: url(../img/sprite.png);
                    background-color: #a1859e;
                    &:last-child {
                        margin-right: 0px;
                    }
                    &:hover {
                        border: none;
                    }
                }
                &--fb {
                    background-position: -423px -87px;
                    &:hover {
                        background-color: #4e689f;
                    }
                }
                &--tw {
                    background-position: -473px -87px;
                    &:hover {
                        background-color: #75c8d6;
                    }
                }
                &--g {
                    background-position: -523px -87px;
                    &:hover {
                        background-color: #e05c64;
                    }
                }
                &--in {
                    background-position: -573px -87px;
                    &:hover {
                        background-color: #3c61b0;
                    }
                }
            }
        }
    }
}

.modal {
    animation: scale 0.5s;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -150px;
    z-index: 15;
    width: 800px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.67);
    border: 1px solid #000000;
    background-image: linear-gradient(to top, #3d3d3d 0%, #333333 100%);
    .close-modal {
        display: block;
        float: right;
        /* border: none; */
        width: 80px;
        height: 30px;
        margin-right: 7px;
        margin-top: 7px;
        box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.44), inset 0 0 0 1px rgba(255, 255, 255, 0.18);
        border: 1px solid #000000;
        border-radius: 5px;
        background-image: linear-gradient(to top, #131313 0%, #131313 1%, #424242 100%);
        text-shadow: 0 -1px 0 #000000;
        color: #ededed;
        font-size: 18px;
        cursor: pointer;
        &:hover {
            background-image: linear-gradient(to top, #131313 0%, #131313 50%, #424242 100%);
        }
        &:active {
            background-image: linear-gradient(to bottom, #131313 0%, #131313 50%, #424242 100%);
        }
    }
    h4 {
        color: white;
        text-align: center;
        font-family: @font-family-light;
        font-size: 40px;
        margin-top: 42px;
        margin-bottom: 66px;
    }
    p {
        color: white;
        text-align: center;
        font-family: @font-family-regular;
        font-size: 20px;
    }
    .modal__form {
        float: right;
        width: 784px;
        height: 205px;
        border-radius: 4px 5px 5px 4px;
        background-color: #eeeeee;
        background-color: #ffffff;
        z-index: 120;
        margin-left: 7px;
        p {
            width: 800px;
            margin-top: 16px;
            margin-left: 21px;
            .font-mixin-p
        }
    }
}
