.modal-go {
    display: block;
}

.onepage-pagination {
    display: none;
}

input::-webkit-input-placeholder {color:#82c8bd}
input:-moz-placeholder {color:#82c8bd}
input:-ms-input-placeholder {color:#82c8bd}
textarea::-webkit-input-placeholder {color:#82c8bd}
textarea:-moz-placeholder {color:#82c8bd}
textarea:-ms-input-placeholder {color:#82c8bd}

@media screen and (max-width:1101px) {
    .container {
        width: 800px;
    }
    .services {
        height: 1320px;
    }
    .services__textblock h2 {
        padding-left: 212px;
    }
    .services__flexblock {
        width: 540px;
    }
    .services__flexblock .col:nth-child(2n) {
        margin-right: 0px;
    }
    .about {
        height: 1280px;
    }
    .about__flexblock {
        width: 540px;
    }
    .about__textblock h2 {
        padding-left: 0px;
    }
    .about__textblock--btn {
//        margin-left: 240px;
    }
    .about__flexblock .card:nth-child(2n) {
        margin-right: 0px;
    }
    .work {
        height: 1270px;
    }
    .work__textblock h2 {
        padding-left: 250px;
    }
    .contacts__textblock h2 {
        padding-left: 207px;
    }
    .contacts__main__map {
        display: none;
    }
}

@keyframes about-btn {
    50% {
        background: white;
        color: #a1ca6c;
    }
}

@keyframes about-btn-b {
    50% {
        border-right: 17px solid transparent;
        border-left: 17px solid transparent;
        border-top: 17px solid white;
    }
}

@keyframes work-btn {
    50% {
        background: white;
        color: #f6c248;
    }
}

@keyframes ava-out {
    1% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ava-in {
    1% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes scale {
    from {
        -webkit-transform: translate(0%, 0%) scale(0.6);
        transform: translate(0%, 0%) scale(0.6);
    }
    to {
        -webkit-transform: translate(0%, 0%) scale(1);
        transform: translate(0%, 0%) scale(1);
    }
}

@keyframes scale {
    from {
        -webkit-transform: translate(0%, 0%) scale(0.6);
        transform: translate(0%, 0%) scale(0.6);
    }
    to {
        -webkit-transform: translate(0%, 0%) scale(1);
        transform: translate(0%, 0%) scale(1);
    }
}
