.modal-go {
    display: block;
}
.onepage-pagination {
    display: none;
}
@media screen and (max-height: 900px) {
    footer{
        display: none;
    }
}

input::-webkit-input-placeholder {color:#82c8bd}
input:-moz-placeholder {color:#82c8bd}
input:-ms-input-placeholder {color:#82c8bd}
textarea::-webkit-input-placeholder {color:#82c8bd}
textarea:-moz-placeholder {color:#82c8bd}
textarea:-ms-input-placeholder {color:#82c8bd}

@keyframes about-btn {
    50% {
        background: white;
        color: #a1ca6c;
    }
}

@keyframes about-btn-b {
    50% {
        border-right: 17px solid transparent;
        border-left: 17px solid transparent;
        border-top: 17px solid white;
    }
}

@keyframes work-btn {
    50% {
        background: white;
        color: #f6c248;
    }
}

@keyframes ava-out {
    1% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ava-in {
    1% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




@-webkit-keyframes scale {
    from {
        -webkit-transform: translate(0%, 0%) scale(0.6);
        transform: translate(0%, 0%) scale(0.6);
    }

    to {
        -webkit-transform: translate(0%, 0%) scale(1);
        transform: translate(0%, 0%) scale(1);
    }
}

@keyframes scale {
    from {
        -webkit-transform: translate(0%, 0%) scale(0.6);
        transform: translate(0%, 0%) scale(0.6);
    }

    to {
        -webkit-transform: translate(0%, 0%) scale(1);
        transform: translate(0%, 0%) scale(1);
    }
}
